*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#ffffff;
color:#0f172a;
overflow-x:hidden;
}

section{
padding:100px 0;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

img{
display:block;
max-width:100%;
}

button{
font-family:inherit;
}

::selection{
background:#2563eb;
color:white;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#2563eb;
border-radius:20px;
}