.navbar{
position:fixed;
top:0;
left:0;
width:100%;
z-index:999;
background:rgba(255,255,255,.8);
backdrop-filter:blur(18px);
box-shadow:0 8px 30px rgba(0,0,0,.05);
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
height:80px;
}

.logo{
font-size:30px;
font-weight:700;
text-decoration:none;
color:#0f172a;
}

.logo span{
color:#2563eb;
}

.nav-links{
display:flex;
align-items:center;
gap:35px;
}

.nav-links a{
text-decoration:none;
color:#334155;
font-weight:500;
transition:.3s;
}

.nav-links a:hover{
color:#2563eb;
}

.nav-btn{
padding:12px 24px;
background:#2563eb;
color:white !important;
border-radius:10px;
}

.nav-btn:hover{
background:#1d4ed8;
}

.menu-btn{
display:none;
background:none;
border: none;
font-size:28px;
cursor:pointer;
}

@media(max-width:768px){

.menu-btn{
display:block;
}

.nav-links{
position:fixed;
top:80px;
left:-100%;
width:100%;
background:white;
flex-direction:column;
padding:40px 0;
transition:.4s;
box-shadow:0 15px 30px rgba(0,0,0,.08);
}

.nav-links.active{
left:0;
}

}